<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ name }}'s watchlist</title>
    <link rel="icon" href="{{ url_for('static',filename='fav.ico') }}">
    <link rel="stylesheet" href="{{url_for('static',filename='style.css')}}" type="text/css"
</head>
<body>
<h2> {{ name }}'s watchlist
<img alt="Avatar" src="{{ url_for('static',filename='images/lengtoo.jpeg')}}"></h2>
<p>{{ movies | length }} Titles</p>
<ul class="movie-list">
    {% for movie in movies %}
    <li>{{ movie.title }} - {{ movie.year }} </li>
    {% endfor %}
</ul>

</body>
</html>